#e, #f, #g, #h {
  width: 50%;
  float: left;
}

/* Breakpoint */
@media (min-width: 768px) {
  #b{
    width: 20%;
    float: left;
  }

  #c-i {
    width: 80%;
    float: left;
  }

  #c, #d {
    width: 50%;
    float: left;
  }

  #e, #f, #g, #h {
    width: 25%;
    float: left;
  }

  #a {
    min-height: 100px !important;
    line-height: 100px !important;
  }

  #b {
    min-height: 600px !important;
    line-height: 600px !important;
  }

  #c, #d {
    min-height: 200px !important;
    line-height: 200px !important;
  }

  #e, #f, #g, #h {
    min-height: 250px !important;
    line-height: 250px !important;
  }

  #i {
    min-height: 150px !important;
    line-height: 150px !important;
  }

}